.header{
  height: 96px;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
}

.nav-content{
  padding-top: 20px;
}

.nav__wrapper {
  display: inline-flex;
  padding: 0 80px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  height: 48px;
}

.nav__list{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

    /* borderBottom: '1.50px #DC5DFC solid'; */

.nav__item-link {
  color: var(--content-primary);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

.header__search{
  display: flex;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #393B3C;
  border-radius: 8px;
  border: none;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-family: 'Play';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.authorization {
  color: var(--content-primary);
  font-family: 'Play';
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 16px;
  padding-left: 45px;
  width: 340px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--content-placeholder);
}

.modal-icon {
  position: absolute;
  top: 16px;
  left: 16px;
}

.modal-content-warpper{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content-descr{
  text-align: center;
}
