.genres{
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 80px;
  padding-bottom: 120px;
}

.genres__title-h2 {
  margin: 0;
  padding: 0;
  align-self: stretch;
  text-align: left;
  color: var(--content-primary);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
 }

.genres__list{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 35px;
    list-style: none;
}

.genres-item {
  border-radius: 16px;
  max-width: 290px;
  width: 100%;
  height: 304px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
  transition: all .3s ease-in-out;
}

.genres-item:hover {
  transform: scale(1.1);
}

.genres-item-link {
  display: flex;
  flex-direction: column;
  gap: 22px;

}

.genres-name{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.genres-img{
  max-width: 290px;
  width: 100%;
  min-height: 220px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media (max-width: 1155px) {
  .genres {
    padding: 0 20px;
  }

  .genres__list {
    justify-content: center;
  }
}
