.movie-page{
  padding: 0 80px;
  padding-bottom: 120px;
}

.movie-page-bg {
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
}

.movie-page-wrapper{
  display: flex;
  flex-direction: column;
  gap: 162px;
}


